*{
margin: 0;
padding: 0;
outline: 0px;
box-sizing: border-box;

}

:root{

    --white:#FFF;
    --black: #000;

    --offWhite:#cacdcc;
    --laranja: #EA8A3B;
    --vermelho: #ee3c44;
    --bege: #eecdb0;
    --bege-claro: #f5e4d4;

    

}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}
body{
    background:  linear-gradient(to left, var(--bege), var(--bege)); 

}
body, input, textarea, select, button{
    font: 400 1rem sans-serif;
}

@media (max-width: 720px){
    html{
        font-size: 87.5%;
    }
}
Image{
    width: 100px;
    height: 100px;
}