.container {
  max-width: 1120px;
  margin: 100px auto;
  padding: 25px;  
  background-color: var(--bege-claro);
  border: 3px solid var(--laranja);
  border-radius: 0.3rem;
}


.container h1{
   color: var(--vermelho)
   
}

.form{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  z-index: 1; 
 
}

.input{
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  color: var(--black);
  background-color: var(--bege-claro-);
  border: 2px solid var(--laranja);
  height: 40px;
  padding: 0.0.5rem;
 &::placeholder{
      color: var(--black);
  }
  
}
.buttonAdd{
  border-radius: 0.3rem;
  height: 40px;
  border: 2px solid var(--laranja);
  background:  linear-gradient(to right, var(--vermelho), var(--bege)); 
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white)
  
}


