.input{
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
    color: var(--vermelho);
    background-color: var(--bege-claro-);
    border: 2px solid var(--laranja);
    height: 40px;
    padding: 0.0.5rem;
   &::placeholder{
        color: var(--vermelho);
    }
    &:focus,
    &:not(:placeholder-shown) {
        background-color: var(--bege-claro-); /* Mantém a cor de fundo quando em foco ou quando não está vazio */
    }
}

